Just Another Magic Simulator/Library/metadata/
Just Another Magic Simulator/Library/ShaderCache/
Just Another Magic Simulator/Library/expandedItems
*.meta
Just Another Magic Simulator/Temp/
Exports/Android/AlphaV1.apk
